:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.shadow-1 {
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
}
.primarytext {
  color: "#0056d2" !important;
}
.aliceblue {
  background-color: aliceblue;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #0056d2 !important;
  font-size: 30px !important;
  dominant-baseline: middle;
  text-anchor: middle;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #0056d2 !important;
}

.services-offered .swiper-wrapper .swiper-slide:nth-child(1) {
  background-color: #eefff7;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #fbe7d0;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #dfeff3;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(4) {
  background-color: #cdece1;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(5) {
  background-color: #eefff7;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(6) {
  background-color: #fbe7d0;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(7) {
  background-color: #dfeff3;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(8) {
  background-color: #cdece1;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(9) {
  background-color: #eefff7;
}
.services-offered .swiper-wrapper .swiper-slide:nth-child(10) {
  background-color: #fbe7d0;
}

.tipForm .form-check-label {
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 5px 13px;
  cursor: pointer;
  user-select: none;
}
.tipForm .form-check-input:checked[type="radio"] + label {
  border: 1px solid #f75d34;
  background-color: #faebd7;
}
.tipForm .form-check-input {
  display: none;
}
.myhello {
  color: red !important;
}
button {
  z-index: 1;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
}

.swiper-button-next {
  right: -5px !important;
}
.swiper-button-prev {
  left: -5px !important;
}

/* .ratemodal.modal {
  display: flex !important;
}
.ratemodal .modal-dialog {
  display: flex;
  align-items: center;
} */

/* @media screen and (max-width: 768px) {
  .ratemodal .modal-dialog {
    align-items: flex-end;
    margin: 0;
  }
  .ratemodal .modal-dialog .modal-content {
    border: 0;
    border-radius: 4px 4px 0 0;
  }
} */

.profile_pic {
  object-fit: contain;
  /* border: 1px solid #ddd; */
  padding: 2px;
  width: 100%;
}
